/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.people_table_hack td {
    border-bottom: white;
    
}

.people_table_hack td:first-child{
    width:100px;
}



iframe{
	margin-left: 50px;
}
